<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ali-Baba|Ecommerce Website Design</title>

        <link rel="stylesheet" href="{% static 'css/style2.css' %}" >
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    </head>
    <body>

        <nav class="navbar">
                <div class="nav">
                    <img src="{% static 'images/logoooooo.jpeg' %}" class="brand-logo" alt="">
                    <div class="nav-items">
                    
                        <div class="search">
                            <input type="text" class="search-box" placeholder="search brand, product">
                            <button class="search-btn">search</button>
                        </div>
                        <a href="signupin"><img src="{% static 'images/WhatsApp Image 2021-10-23 at 00.17.14.jpeg' %}" alt=""></a>
                        <a href="cart"><img src="{% static 'images/huhiuh.jpeg' %}" alt=""></a>
                 </div>
             </div>
             <ul class="links-container">
                             <li class="link-item"><a href="#" class="link"><b>Home</b></a></li>
                             <li class="link-item"><a href="#myBtnContainer" class="link"><b>Women</b></a></li>
                             <li class="link-item"><a href="#" class="link"><b>Men</b></a></li>
                             <li class="link-item"><a href="#contact" class="link"><b>Contact Us</b></a></li>
                        </ul> 
          </nav>
        <div class="row">
         <div class="col-2">
           <h1>Inhale Fashion, Exhale Style!</h1>
             <p><u><i>"People Will Stare.<br>Make It Worth Their WHile."</i></u></p>
             <a href="" class="btn">Explore Now &#8594</a>
           </div>
            <div class="col-2">
                <img src="{% static 'images/lalla.jpeg' %}">
       
            </div>
        
  </div>
        <section class="product">
    <h2 class="product-category">best selling</h2>

         <button class="pre-btn"><img src="{% static 'images/WhatsApp%20Image%202021-10-28%20at%2023.29.53.jpeg' %}" alt=""></button>
<button class="nxt-btn"><img src="{% static 'images/WhatsApp%20Image%202021-10-28%20at%2023.29.53.jpeg' %}" alt=""></button>
        
         <div class="product-container">
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="{% static 'images/321.jfif' %}" class="product-thumb" alt="">
            <button class="card-btn">add to whislist</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-des">a short line about the cloth..</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
        </div>
    </div>
            <div class="product-container">
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="{% static 'images/WhatsApp%20Image%202021-10-29%20at%2023.33.52%20(2).jpeg' %}" class="product-thumb" alt="">
            <button class="card-btn">add to whislist</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-des">a short line about the cloth..</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
        </div>
    </div>
                <div class="product-container">
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="{% static 'images/WhatsApp%20Image%202021-10-29%20at%2023.33.52%20(1).jpeg' %}" class="product-thumb" alt="">
            <button class="card-btn">add to whislist</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-des">a short line about the cloth..</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
        </div>
    </div>
                    <div class="product-container">
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="{% static 'images/321.jfif" class="product-thumb"' %} alt="">
            <button class="card-btn">add to whislist</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-des">a short line about the cloth..</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
        </div>
    </div>
                    </div>
                </div>
             </div>
            </div>
        </section>
        
        <section class="collection-container">
                <a href="#" class="collection">
            <img src="{% static 'images/WhatsApp%20Image%202021-10-29%20at%2023.46.46.jpeg' %}" alt="">
            <p class="collection-title">Women<br></p>
            </a>
            <a href="#" class="collection">
            <img src="{% static 'images/WhatsApp%20Image%202021-10-29%20at%2023.53.25.jpeg' %}" alt="">
            <p class="collection-title">Men</p>
            </a>
            
            
            
        </section>
        <div id="contact">
            <div class="page">
        <div class="container1">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Panchpota,Garia</div>
          <div class="text-two">Kolkata,West Bengal,700152</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">6295928369</div>
          <div class="text-two">8102268443</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">sakshisah82318@gmail.com</div>
          <div class="text-two">1997rahmat1997ali@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you have any work from me or any types of quries related to my tutorial, you can send me message from here. It's my pleasure to help you.</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
          <textarea placeholder="Enter your message"></textarea>
        </div>
        <div class="button">
          <input type="button" value="Send Now" >
        </div>
      </form>
    </div>
    </div>
  </div>
        </div>
        </div>
        <footer>
    <div class="footer-content">
        <img src="{% static 'images/WhatsApp%20Image%202021-10-30%20at%2000.55.05.jpeg' %}" class="logo" alt="">
        <div class="footer-ul-container">
            <ul class="category">
                <li class="category-title">Women</li>
                <li><a href="#" class="footer-link">Ballerina</a></li>
                <li><a href="#" class="footer-link">Canvas</a></li>
                <li><a href="#" class="footer-link">Flip-Flops</a></li>
                <li><a href="#" class="footer-link">Slip-on</a></li>
                <li><a href="#" class="footer-link">Sneakers</a></li>
                <li><a href="#" class="footer-link">Loafers</a></li>
                <li><a href="#" class="footer-link">Flat</a></li>
                <li><a href="#" class="footer-link">Running</a></li>
                <li><a href="#" class="footer-link">Wedges</a></li>
                <li><a href="#" class="footer-link">Walking</a></li>
            </ul>
            <ul class="category">
                <li class="category-title">Men</li>
                <li><a href="#" class="footer-link">Cap Toe</a></li>
                <li><a href="#" class="footer-link">Canvas</a></li>
                <li><a href="#" class="footer-link">Flip-Flops</a></li>
                <li><a href="#" class="footer-link">Chelsea</a></li>
                <li><a href="#" class="footer-link">Juttis</a></li>
                <li><a href="#" class="footer-link">Lace-ups</a></li>
                <li><a href="#" class="footer-link">Loafers</a></li>
                <li><a href="#" class="footer-link">Sneakers</a></li>
                <li><a href="#" class="footer-link">Running</a></li>
                <li><a href="#" class="footer-link">Oxford</a></li>
            </ul>
        </div>
        
    </div>
            <p class="footer-title">about company</p>
    <p class="info">In sport and in life, creators aren’t content on the sidelines.Ali-Baba shoes are made for those who understand that rules can be negotiated; expectations, evolved.Calling all shoe lovers! Are you looking for that perfect shoe that expresses your deep love of shoes? Accentuate your personal style in sport-inspired sneakers for your day-to-day. Whether sport is your life or you’re an athleisure fashionista, women’s clothing and footwear from adidas exist to help you redefine what’s possible.</p>
    <p class="info">support emails - 1997rahmat1997ali@gmail.com, sakshisah82318@gmail.com</p>
    <p class="info">telephone - 6295928369, 8102268443</p>
    <div class="footer-social-container">
        <div>
            <a href="#" class="social-link">terms & services</a>
            <a href="#" class="social-link">privacy page</a>
        </div>
        <div>
            <a href="#" class="social-link">instagram</a>
            <a href="#" class="social-link">facebook</a>
            <a href="#" class="social-link">twitter</a>
        </div>
    </div>
    <p class="footer-credit">Clothing, Best apparels online store</p>
    </div>
</footer>
    <script src="{% static 'js/slideshow.js' %}"></script>

       

    </body>
</html>